{% load static %}
<section id="about" class="section pp-scrollable d-flex align-items-center position-absolute">
    <div class="intro">
        <div class="scroll-wrap">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-6 pr-md-5 pr-lg-0">
                        <div class="mb-4 text-dark">Обо мне</div>
                        <h3>Я учусь по специальности <br><span class="text-primary">судовождение с правом эксплуатации СЭУ</span></h3>
                        <div class="mt-5 pt-2">
                            <p>Я всегда открыт новому. Увлекаюсь программированием и математикой. Люблю выйти на пробежку или поиграть в волейбол. Все детство занимался парусным спортом. </p>
                            <p>Я пошел по стопам семьи, поэтому поступил в Арктический Морской Институт. Сейчас я учусь на 3 курсе и полностью рад моему выбору – море всегда меня привлекало.</p>
                        </div>
                    </div>
                    <div class="mt-5 mt-md-0 col-md-6 col-lg-5  offset-lg-1">
                        <div class="position-relative">
                            <img alt="" class="border-radius w-100" src="{% static 'img/445x459.jpg' %}">
{#                            <a href="http://www.youtube.com/watch?v=0O2aH4XLbto" class="icon-play popup-youtube"></a>#}
                  	        <div class="experience-info">
                  	            <div class="experience-number">3</div>
					            <div class="experience-text">ГОДА<br> ОБУЧЕНИЯ<br> В ИНСТИТУТЕ</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>