{% load static %}
<section id="contact" class="navbar-is-white text-white section pp-scrollable position-absolute" style="background-image:url({% static 'img/bg/masthead.jpg' %});">
    <div class="intro">
        <div class="scroll-wrap">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <h2 class="text-white">Свяжитесь со мной</h2>
					 	<p class="text-muted">Воспользуйтесь удобным для Вас способом связи. Если я не доступен, попробуйте дождаться моего ответа или перезвонить позднее.</p>
                        <h3 class="text-white mt-5 pt-5"><a class="" href="mailto:s@salamatov.org">s@salamatov.org</a></h3>
                        <h3 class="text-white"><a class="" href="tel:+79959963535">+7 (995) 996-3535</a></h3>
                        <h3 class="text-white"><a class="" href="https://vk.me/jexooqo">ВКонтакте</a>&nbsp;&nbsp;&nbsp;<a class="" href="https://t.me/jexooqo">Telegram</a></h3>
				        <p class="text-muted mt-3">д. 54/1, ул. Гайдара, Архангельск, 163071</p>
				    </div>
	            </div>
	        </div>
        </div>
    </div>
</section>