{% load static %}
<section id="experience" class="navbar-is-white text-white section pp-scrollable d-flex align-items-center position-absolute" style="background-image:url({% static 'img/bg/masthead.jpg' %});">
    <div class="intro">
        <div class="scroll-wrap">
            <div class="container">
                <h2 class="text-white mb-0">Опыт</h2>
                <div class="mt-5 pt-5">
                    <h2 class="text-white">Я пока нигде не работал, но <span class="text-primary text-typed a-typed a-typed-about">Ваша компания может стать первой.</span></h2>
                    <h4 class="text-white">Посмотрите мое резюме. Возможно, я именно тот кандидат, которого вы ищете.</h4>
                    <p>Вы можете <a href="{% url 'cv' %}">открыть мою анкету не содержащую конфиденциальных данных</a> или <a href="https://forms.gle/iKShr3LZutXC4M4R9">запросить полную анкету вместе с копиями документов</a></p>
                </div>
            </div>
        </div>
    </div>
</section>