{% load static %}
<section id="home" class="navbar-is-white text-white pp-scrollable d-flex align-items-center section position-absolute" style="background-image:url({% static 'img/bg/masthead.jpg' %});" role="main">
    <div class="intro">
        <div class="scroll-wrap">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-xl-5">
	              	    <div class="mb-2">Моряк-судоводитель</div>
	                    <h1 class="d-none d-md-block text-white">
                            <span class="text-primary text-typed a-typed a-typed-about">Привет!</span>
                            <br><span class="text-nowrap">Я – Сергей </span><br>Вячеславович <br>Саламатов.
                        </h1>
                        <h2 class="d-block d-md-none text-white">
                            <span class="text-primary text-typed a-typed a-typed-about">Привет!</span>
                            <br>Я – Сергей Вячеславович <br>Саламатов.
                        </h2>
	                    <div class="line"></div>
	                </div>
	            </div>
            </div>
        </div>
    </div>
</section>